.portfolio-thumbnail {
		background-color: #1d242a;
		border-width: 1px;
		border-style: solid;
		border-color: #000000;
		color: #ffffff;
		font: inherit;
		position: relative;
		width: 200px;
		height: 200px;
		overflow: hidden;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;	
}

.portfolio-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.portfolio_thumbnail img.portrait {
  width: 100%;
  height: auto;

}

.portfolio_thumbnail text.portrait {
	text-align: center;
	color: #ffffff;
	font: inherit;
}